
.order__address {
    background-color: #d9d9d9;
}
.order__address-text {
    padding: 25px;
}

.order__address button {
    width: 100%;
    padding-top: 10px;
    background-color: #a8a7a5;
    border-radius: 0;
}


.order__checkout-summery {
    margin-top: 5px;
    padding: 20px;
    background-color: #d9d9d9;
}
.order__advertise {
    background-color: #d9d9d9;
    margin-top: 5px;
    padding: 20px;
}
.order__checkout-summery table {
    width: 100%;
}
