.catalogue-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.view-all-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.view-all-btn button {
    width: 200px;
}